h1 {
    color: rgb(192, 251, 255);
    font-size: 100px;
}

h5 {
    color: rgb(43 84 225);
    font-size: 100px;
}

html {
    background: url(./AthleticSimpleHuemul-size_restricted.gif);
    background-size: cover;
}

canvas {
    position: absolute;
    top: 0;
}