h1 {
    color: pink;
    font-size: 100px;
}

h5 {
    color: red;
    font-size: 100px;
}

html {
    background: url(https://c.tenor.com/4Qx7ZhTTzM4AAAAC/pixel-snow-art.gif);
    background-size: cover;
}