h1 {
    color: rgb(192, 251, 255);
    font-size: 100px;
}

h5 {
    color: red;
    font-size: 100px;
}

html {
    background: url(https://thumbs.gfycat.com/AthleticSimpleHuemul-size_restricted.gif);
    background-size: cover;
}